<!doctype html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='distro.css'/>
		<link rel='stylesheet' type='text/css' media="print" href='print.css'/>
		
		<title>Distro EOL dates</title>	
	</head>
	<body>
		<table>
			<tr>
				<th>Distro</th>
				<th>Codename</th>
				<th>Version</th>
				<th>Release Date</th>
				<th>End of Life</th>
				<th>Kernel</th>
				<th>Apache</th>
				<th>PHP</th>
				<th>MySQL</th>
				<th>GCC</th>
				<th>init</th>
			</tr>
			<% for distro in distros %>
				<% distro["releases"].each_with_index do |release,i| %>
					<% if release["state"] %>
						<tr class='<%=release["state"]%>'>
					<% else %>
						<tr class='alive'>
					<% end %>
						<% if i == 0 %>
							<td class='distro' rowspan='<%=distro['releases'].length%>'><%=distro["distro"]%></td>
						<% end %>
						<td class='data codename'>&#8220;<%=release["codename"] or "-" %>&#8221;</td>
						<td class='data version'><%=release["version"]%></td>
						<td class='data release'><%=release["release"]%></td>
						<td class='data eol'><%=release["eol"]%></td>
						<td class='data kernel'><%=release["kernel"] or "unknown"%></td>
						<td class='data apache'><%=release["apache"] or "unknown"%></td>
						<td class='data php'><%=release["php"] or "unknown"%></td>
						<td class='data mysql'><%=release["mysql"] or "unknown"%></td>
						<td class='data gcc'><%=release["gcc"] or "unknown"%></td>
						<td class='data init'><%=release["init"] or "unknown"%></td>
					</tr>
				<% end %>
			<% end %>
		</table>
		<p>Data last updated: <%=updated%></p>
		<div id='meta'>
			<p><a href=<%=distrofile%>>Raw Data</a></p>
			<p>Non-LTS ubuntu releases aren't included because their lifecycle is too short for serious servers.</a>
			<p>Errors/Pull Requests on <a href='https://github.com/jiphex/distro.re'>github</a> or via <a href='mailto:james+distro@tlyk.eu'>email</a>.</p>
			<p>Sources:
			<ul>
				<li><a href='https://wiki.ubuntu.com/Releases'/>Ubuntu</a> <a href='http://packages.ubuntu.com/'>(Packages)</a></li>
				<li><a href='https://wiki.debian.org/DebianReleases'/>Debian</a> <a href='https://packages.debian.org/'/>(Packages)</a> <a href='https://wiki.debian.org/LTS'/>(LTS)</a></li>
				<li><a href='http://wiki.centos.org/FAQ/General'>CentOS</a></li>
				<li>Others...</li>
			</ul>
			</p>
		</div>
		<div id='attrib'>
			Printed from https://distro.re
		</div>
	</body>
</html>
